<%= set_page_title "About" %>

<h1 class="text-3xl font-bold">What is Chamber?</h1>
<p>Chamber is a place to just shout out into the echo chamber. It's a place to just say what's on your mind without any fear of judgement. It's a place to just be.</p>
<p>In reality, Chamber is a dumb app to showcase my Ruby on Rails skills. I'm building it to learn the latest Rails instead of ancient Rails 4.</p>

<h2 class="text-2xl font-bold">Who made Chamber?</h2>
<p>Chamber was made by <a href="https://www.codingjosh.com" target="_blank" class="text-blue-500 hover:underline">Josh Kennedy</a>. I'm a software engineer who loves to learn and build things.</p>
