<%= set_page_title "Home" %>

<div class="flex space-x-3 justify-center items-center mx-auto">
  <h2 class="text-3xl font-bold">echo!</h2>
  <h3 class="text-2xl font-bold">echo!</h3>
  <h4 class="text-xl font-bold">echo!</h4>
</div>

<h1 class="text-3xl font-bold">Welcome to Chamber!</h1>

<p>This is a dumb app to showcase my Rails skills.</p>
