<h1 class="text-2xl font-bold">Enroll in 2FA</h1>

<p class="mt-4">To ensure account security, it is required to enroll in 2FA (Two-factor authentication)</p>

<p class="mt-4">Scan the QR code below with your authenticator app to enroll in 2FA.</p>

<img src="<%= @qr_code %>" alt="QR Code for 2FA" />
